@* the footer navigation partial view *@

@using Microsoft.EntityFrameworkCore

@inject ApplicationDbContext StoreDbContext

@if (!string.Equals((string)ViewData["Area"], "Admin", StringComparison.OrdinalIgnoreCase))
{
    <!-- the following are the footer content only hidden on a mobile device -->
    <div class="container d-none d-md-block py-4">
        <div class="row">
            <div class="col">
                <a asp-page="/Bouquets/List" class="btn rounded-0 text-left font-weight-bold sidebar-menu-item bg-transparent p-0 @HeaderNavigation.BouquetsNavigationItem(ViewContext)" style="font-size: 1.2em">All bouquets</a>
                <p class="font-weight-bold mt-3 mb-1" style="font-size: 1.2em">Shop by flower</p>
                <div class="d-flex flex-column">
                    @if (await StoreDbContext.Flowers.CountAsync() > 0)
                    {
                        <a asp-page="/Bouquets/List" asp-route-flowerId="-2" class="btn rounded-0 text-left sidebar-menu-item bg-transparent p-0 @BouquetCategoryMenu.FlowerMenuItem(ViewContext, "Best sellers")">Best sellers</a>
                        <a asp-page="/Bouquets/List" asp-route-flowerId="-1" class="btn rounded-0 text-left sidebar-menu-item bg-transparent p-0 @BouquetCategoryMenu.FlowerMenuItem(ViewContext, "New arrivals")">New arrivals</a>
                        <a asp-page="/Bouquets/List" asp-route-flowerId="0" class="btn rounded-0 text-left sidebar-menu-item bg-transparent p-0 @BouquetCategoryMenu.FlowerMenuItem(ViewContext, "Sale")">Sale</a>
                        <div class="dropdown-divider mr-5 my-1"></div>

                        @foreach (var item in await StoreDbContext.Flowers.ToListAsync())
                        {
                            <a asp-page="/Bouquets/List" asp-route-flowerId="@item.ID" class="btn rounded-0 text-left sidebar-menu-item bg-transparent p-0 @BouquetCategoryMenu.FlowerMenuItem(ViewContext, item.Name)">@item.Name</a>
                        }
                    }
                    else
                    {
                        <p class="text-black-50 mb-0">Error! At least 1 flower type is required.</p>
                    }
                </div>
            </div>
            <div class="col">
                <p class="font-weight-bold mb-1" style="font-size: 1.2em">Shop by occasion</p>
                <div class="d-flex flex-column">
                    @if (await StoreDbContext.Occasions.CountAsync() > 0)
                    {
                        foreach (var item in StoreDbContext.Occasions.ToList())
                        {
                            <a asp-page="/Bouquets/List" asp-route-occasionId="@item.ID" class="btn rounded-0 text-left sidebar-menu-item bg-transparent p-0 @BouquetCategoryMenu.OccasionMenuItem(ViewContext, item.Name)">@item.Name</a>
                        }
                    }
                    else
                    {
                        <p class="text-black-50 mb-0">Error! At least 1 occasion is required.</p>
                    }
                </div>
            </div>
            <div class="col">
                <a asp-page="/Index" title="Click to turn to the home page.">
                    <img asp-append-version="true" src="~/img/logo.jpg" class="img-fluid" alt="New Era Flower Store" />
                </a>
                <p class="font-weight-bold mt-3 mb-1" style="font-size: 1.2em">Help</p>
                <div class="d-flex flex-column">
                    <a asp-page="/Help/Faq" class="btn rounded-0 text-left sidebar-menu-item bg-transparent p-0 @HelpMenu.FaqMenuItem(ViewContext)">FAQ</a>
                    <a asp-page="/Help/PrivacyPolicy" class="btn rounded-0 text-left sidebar-menu-item bg-transparent p-0 @HelpMenu.PrivacyPolicyMenuItem(ViewContext)">Privacy policy</a>
                    <a asp-page="/Help/UserAgreement" class="btn rounded-0 text-left sidebar-menu-item bg-transparent p-0 @HelpMenu.UserAgreementMenuItem(ViewContext)">User agreement</a>
                    <a asp-page="/Help/AboutUs" class="btn rounded-0 text-left sidebar-menu-item bg-transparent p-0 @HelpMenu.AboutUsMenuItem(ViewContext)">About us</a>
                    <a asp-page="/Help/ContactUs" class="btn rounded-0 text-left sidebar-menu-item bg-transparent p-0 @HelpMenu.ContactUsMenuItem(ViewContext)">Contact us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- the following are the footer content only visible on a mobile device -->
    <nav class="navbar navbar-expand-sm d-sm-none px-0 py-3">
        <div class="d-flex flex-column w-100">
            <a asp-page="/Index" class="navbar-brand text-center mx-0 mb-1 py-0" title="Click to turn to the home page.">
                <img asp-append-version="true" src="~/img/logo.jpg" alt="New Era Flower Store" height="40" />
            </a>
            <div class="d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a asp-page="/Bouquets/List" role="button" class="btn btn-light bg-transparent border-0 rounded-0 nav-link flex-fill @HeaderNavigation.BouquetsNavigationItem(ViewContext)" style="padding-top: 0.66rem; padding-bottom: 0.66rem">All bouquets</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a role="button" class="btn btn-light bg-transparent border-0 rounded-0 nav-link dropdown-toggle @HeaderNavigation.FlowersNavigationItem(ViewContext)" style="padding-top: 0.66rem; padding-bottom: 0.66rem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop by flower</a>
                            <div class="dropdown-menu dropdown-menu-left bg-transparent rounded-0 border-0 shadow-sm">
                                @if (await StoreDbContext.Flowers.CountAsync() > 0)
                                {
                                    <a asp-page="/Bouquets/List" asp-route-flowerId="-2" class="dropdown-item @BouquetCategoryMenu.FlowerMenuItem(ViewContext, "Best sellers")">Best sellers</a>
                                    <a asp-page="/Bouquets/List" asp-route-flowerId="-1" class="dropdown-item @BouquetCategoryMenu.FlowerMenuItem(ViewContext, "New arrivals")">New arrivals</a>
                                    <a asp-page="/Bouquets/List" asp-route-flowerId="0" class="dropdown-item @BouquetCategoryMenu.FlowerMenuItem(ViewContext, "Sale")">Sale</a>
                                    <div class="dropdown-divider mx-3"></div>

                                    @foreach (var item in await StoreDbContext.Flowers.ToListAsync())
                                    {
                                        <a asp-page="/Bouquets/List" asp-route-flowerId="@item.ID" class="dropdown-item @BouquetCategoryMenu.FlowerMenuItem(ViewContext, item.Name)">@item.Name</a>
                                    }
                                }
                                else
                                {
                                    <h6 class="dropdown-header">Error! At least 1 flower type is required.</h6>
                                }
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a role="button" class="btn btn-light bg-transparent border-0 rounded-0 nav-link dropdown-toggle @HeaderNavigation.OccasionsNavigationItem(ViewContext)" style="padding-top: 0.66rem; padding-bottom: 0.66rem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop by occasion</a>
                            <div class="dropdown-menu dropdown-menu-left bg-transparent rounded-0 border-0 shadow-sm">
                                @if (await StoreDbContext.Occasions.CountAsync() > 0)
                                {
                                    foreach (var item in StoreDbContext.Occasions.ToList())
                                    {
                                        <a asp-page="/Bouquets/List" asp-route-occasionId="@item.ID" class="dropdown-item @BouquetCategoryMenu.OccasionMenuItem(ViewContext, item.Name)">@item.Name</a>
                                    }
                                }
                                else
                                {
                                    <h6 class="dropdown-header">Error! At least 1 occasion is required.</h6>
                                }
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a role="button" class="btn btn-light bg-transparent border-0 rounded-0 nav-link dropdown-toggle @HeaderNavigation.HelpNavigationItem(ViewContext)" style="padding-top: 0.66rem; padding-bottom: 0.66rem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
                            <div class="dropdown-menu dropdown-menu-left bg-transparent rounded-0 border-0 shadow-sm">
                                <a asp-page="/Help/Faq" class="dropdown-item @HelpMenu.FaqMenuItem(ViewContext)">FAQ</a>
                                <a asp-page="/Help/PrivacyPolicy" class="dropdown-item @HelpMenu.PrivacyPolicyMenuItem(ViewContext)">Privacy policy</a>
                                <a asp-page="/Help/UserAgreement" class="dropdown-item @HelpMenu.UserAgreementMenuItem(ViewContext)">User agreement</a>
                                <a asp-page="/Help/AboutUs" class="dropdown-item @HelpMenu.AboutUsMenuItem(ViewContext)">About us</a>
                                <a asp-page="/Help/ContactUs" class="dropdown-item @HelpMenu.ContactUsMenuItem(ViewContext)">Contact us</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

<div class="footer-copyright">
    <div class="container py-2 @(string.Equals((string)ViewData["Area"], "Admin", StringComparison.OrdinalIgnoreCase) ? "admin-site" : string.Empty)">&copy;2018-@DateTimeOffset.Now.Year SHIELD Technology, Inc.</div>
</div>