@* the colour list page *@
@page

@model IndexModel

@{
    ViewData["Title"] = "Colours";
    ViewData["Area"] = "Admin";
    ViewData["StorePage"] = HeaderNavigation.AdminSite;
    ViewData["AdminSitePage"] = AdminSiteMenu.Colours;
    ViewData["AdminSiteMenuItem"] = "colours";
}

<partial name="_StatusMessage" for="StatusMessage" />

@if (Model.IsEmailConfirmed)
{
    <a asp-area="Admin" asp-page="/Colours/Create" role="button" class="btn btn-success rounded-circle mb-3" title="Create a colour.">
        <i class="fas fa-plus"></i>
    </a>

    if (Model.ColourForm.Count() > 0)
    {
        @section Modal {
            @foreach (var item in Model.ColourForm)
            {
                <div role="dialog" id="modal-deleting-confirmation-@item.ID" class="modal fade" tabindex="-1" aria-labelledby="modal-deleting-confirmation-@item.ID-title" aria-hidden="true">
                    <div role="document" class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 id="modal-deleting-confirmation-@item.ID-title" class="modal-title">Deleting Confirmation</h5>
                                <a role="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                            </div>
                            <div class="modal-body">
                                <p class="text-justify">Are you sure to delete the colour with the name "@item.Name" permanently?</p>
                                <p class="text-justify text-danger mb-0">Please notice that bouquets using it as the main colour would be also deleted if you clicked "Yes".</p>
                            </div>
                            <div class="modal-footer">
                                <form asp-area="Admin" asp-page="/Colours/Index" asp-page-handler="Delete" asp-route-id="@item.ID" method="post">
                                    <button type="submit" class="btn btn-warning">Yes</button>
                                </form>
                                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        var defaultSortOrder = new List<object>()
        {
            new{ field = "Name", direction = "Ascending" }
        };

        <ejs-grid id="data-grid-colours" allowFiltering="true" allowPaging="true" allowSelection="true" allowSorting="true" dataSource="@Model.ColourForm" height="auto" toolbar="@(new List<string>() { "Search" })" width="auto">
            <e-grid-filtersettings type="Excel"></e-grid-filtersettings>
            <e-grid-pagesettings pageSize="10" pageSizes="true"></e-grid-pagesettings>
            <e-grid-sortsettings columns="defaultSortOrder"></e-grid-sortsettings>
            <e-grid-columns>
                <e-grid-column field="ID" allowSorting="false" clipMode="EllipsisWithTooltip" textAlign="Right" width="15%"></e-grid-column>
                <e-grid-column field="Name" clipMode="EllipsisWithTooltip" width="60%"></e-grid-column>
                <e-grid-column template="#template-allow-actions" width="25%"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

        <script type="text/x-template" id="template-allow-actions">
            <a role="button" href="@Url.Content("~/Admin/Colours/Edit?id=${ID}")" class="btn text-success grid-action mr-2" title="Edit this colour.">
                <i class="fas fa-edit"></i>
            </a>
            <a role="button" class="btn text-success grid-action" title="Delete this colour." data-toggle="modal" data-target="#modal-deleting-confirmation-${ID}">
                <i class="far fa-trash-alt"></i>
            </a>
        </script>
    }
    else
    {
        <div role="alert" class="alert alert-warning">Sorry! No colours found.</div>
    }
}